@font-face {
  font-family: ob;
  src: url("/ob.ttf") format("opentype");
}

@font-face {
  font-family: pnsb;
  src: url("/pnsb.otf") format("opentype");
}

@font-face {
  font-family: pnr;
  src: url("/pnr.otf") format("opentype");
}

@font-face {
  font-family: cl;
  src: url("/cl.ttf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 1.0);
}

body {
  /*background: #0090FF;*/
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}


#particles-primary {
  width: 100%;
  height: 100%;
  position: absolute;
}

#particles-secondary {
  width: 100%;
  height: 100%;
  position: absolute;
}

#main {
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.12);
  position: absolute;
}

#value {
  font-family: ob;
  margin-top: 90px;
}

.value-normal {
  font-size: 13em;
}

.value-expanded {
  font-size: 9em;
}

#unit {
  letter-spacing: 0.02em;
  font-size: 1.8em;
  font-family: pnr;
}

#quote {
  width: 100%;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.3em;
  font-family: cl;
  letter-spacing: 0.02em;
}


